# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [1]:
number = 6

print(number)

6

##### Assinging float

In [4]:
numberFloat = 2.3
print(numberFloat)
numberFloat = 7.2
print(numberFloat)

2.3
7.2

#### Performing Calculations on ints and floats

##### Addition

In [8]:
num1 = 2
num2 = 5.4

result = num1 + num2

print(result)

result += 2
print(result)

7.4
9.4

##### Subtraction

In [12]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 1
print(result_diff - 1)

3.4000000000000004
1.4000000000000004

##### Multiplication

In [14]:
result_mul = num1 * num2
print(result_mul)

result_mul *= 2
print(result_mul)

10.8
21.6

##### Division

In [18]:
result_div = num2/num1
print(result_div)

result_div /= 3
print(result_div)

2.7
0.9

##### Floor Division

In [21]:
result_floor = num2 // num1
print(result_floor)

result_floor //= 2
print(result_floor)

2.0
1.0

##### Modulo

In [24]:
result_mod = 13 % 2
print(result_mod)

result_mod %= 2
print(result_mod)

1
1

##### Exponential

In [25]:
square = 5 ** 2
print(square)

square **= 2
print(square)

25
625

### String Input-Output

##### String Assignment

In [27]:
name = "Brandon"
print(name)

Brandon

##### print() <br>
<p>Don't forget about end=' '</p>

In [30]:
print("This is my first name:",name)

print("Full Name:", name, end=" apol")

This is my first name: Brandon
Full Name: Brandon apol

##### String Concatenation

In [31]:
first_name = "John"
last_name = "Smith"

full_name = first_name + " " + last_name
print(full_name)

full_name += ", Jr"
print(full_name)

John Smith
John Smith, Jr

##### Type Conversion

In [34]:
number = "32"

change_type_num = int(number)
print(number)
print(change_type_num + 1)

32
33

##### input()

In [39]:
# Input will always retun a string

name = input("What is you name? ")
print("Nice to meet you, " + name)

age = int(input("What is your age?: "))
add_age = age + 5
print(add_age)

What is you name? Edgar
Nice to meet you, Edgar
What is your age?: 30
35

##### format()

In [41]:
age = input("What is your age? ")

result_string = "You are {} {} and you are getting wiser!".format(age, name)
print(result_string)

result_again = f"{age} is a great time in life!!!"
print(result_again)

What is your age? 30
You are 30 Edgar and you are getting wiser!
30 is a great time in life!!!

##### Old Way (python 2)

In [43]:
result_string2 = "You are %s and you look great for your age" %age
print(result_string2)

You are 30 and you look great for your age

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [53]:
name = input("What is your name? ")
color = input("What color is your car? ")
year = input("What year was it made? ")
make = input("Who makes it?")
model = input("What model is it?")

promt = f"{name}, your car is a {color} {year} {make} {model}!"

print(promt)

What is your name? Edgar
What color is your car? red
What year was it made? 2020
Who makes it?Ford
What model is it?Mustang
Edgar, your car is a red 2020 Ford Mustang!

### If Statements

In [69]:
# Available operators: Greater(>), Less(<),Equal(==)
# Greater or Equal(>=), Less or Equal (<=)

# Truth Tree:
# T && F = F (and)
# T && T = T
# T || F = T (or)
# F || T = T
# F || F = F

num1 = 5
num2 = 10
num3 = 0

# if num1 == num2:
#     print('Equal values')
# else:
#     print('Not equal values!')
    
if num2 > num1 or num3 > 0:
    print("num2 is greater")
elif  num2 < num1:
    print("Num1 is greater")
else:
    print("Equal Values")

num2 is greater

##### 'is' keyword

In [72]:
# The is keyword is for checking for the same object, but not the same value

num3 = 55

if num3 is 55:
    print("THis is the exact number/object")

THis is the exact number/object

<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\Lopez\AppData\Local\Temp\ipykernel_11880\1090967653.py:5: SyntaxWarning: "is" with a literal. Did you mean "=="?
  if num3 is 55:

##### 'in' keyword

In [76]:
# Check if a  character is in a string

char_name = "Tony Stank"

if  "Stank" in char_name:
    print(f"Yes this is {char_name}.")

Yes this is Tony Stank

##### 'not in' keyword'

In [79]:
sega_char = "Sonic"

if 'a' not in sega_char:
    print(f"a is not in {sega_char}")

a is not in Sonic

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [81]:
responce = input("What is your name? ")

if 'p' not in responce:
    print("False")
else:
    print("True")

What is your name? peter
True

## Using 'and'/'or' with If Statements

In [3]:
num_11 = 15
num_12 = 3
num_13 = 10
num_14 = 3

#if with and statemant
if num_11 / 5 == num_12 and num_13 - 7 == num_14:
    print("True & True")
#and statement needs both to be true, or it defaults false

if num_11 - 5 == num_13 or num_12 != num_14:
    print("True & False")
#or statement needs 1 true to default true, or else it default false

True & True
True & False

### Elif Statements

In [4]:
first_name = input("What is your name? ")

if first_name == 'Smith':
    print("The name is Smith")
elif first_name == 'Max':
    print("The name is Max")
elif first_name == 'Brandon':
    print("The name is Brandon")
else:
    print("The name is Max")

What is your name? Smith
The name is Smith

### Else Statements

In [ ]:
# see above

### For Loops

In [7]:
# syntax:
# for counter in condition
name = "Edgar Lopez"
a_list = [1,2,3,4,5]

for i in a_list:
    print (i)

1
2
3
4
5

##### Using 'in' keyword

In [ ]:
# see above

##### Continue Statement

In [ ]:
# will continue to next iteration

In [8]:
for i in range(20):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [ ]:
# will break out of current loop

In [9]:
for i in range(20):
    if i == 5:
        break
    print(i)

0
1
2
3
4

##### Pass Statement

In [ ]:
# mostly used as a placeholder, and will continue on same iteration

In [12]:
name = "Edgar Lopez"

for i in name:
    pass

##### Double For Loops

In [14]:
for i in range(5):
    for j in range(5):
        print('i = ', i, 'j = ', j)

i =  0 j =  0
i =  0 j =  1
i =  0 j =  2
i =  0 j =  3
i =  0 j =  4
i =  1 j =  0
i =  1 j =  1
i =  1 j =  2
i =  1 j =  3
i =  1 j =  4
i =  2 j =  0
i =  2 j =  1
i =  2 j =  2
i =  2 j =  3
i =  2 j =  4
i =  3 j =  0
i =  3 j =  1
i =  3 j =  2
i =  3 j =  3
i =  3 j =  4
i =  4 j =  0
i =  4 j =  1
i =  4 j =  2
i =  4 j =  3
i =  4 j =  4

### While Loops

In [16]:
# Syntax:
#while keyword, condition statement

num = 0

while num < 10:
    print(num)
    num += 1

0
1
2
3
4
5
6
7
8
9

##### Looping 'While True'

In [ ]:
game_over = True

while Game_over:
    print('infinite loop')
    user_input = input("would you like to stop? ")
    if user_input == 'yes':
        game_over = False

##### While & For Loops Used Together

In [18]:
num = 0

while num < 5:
    print("\n While loop iteration: " + str(num))
    
    for i in range(2):
        print("For loop iteration: ", str(i + 1))
        
    num += 1

 While loop iteration: 0
For loop iteration:  1
For loop iteration:  2

 While loop iteration: 1
For loop iteration:  1
For loop iteration:  2

 While loop iteration: 2
For loop iteration:  1
For loop iteration:  2

 While loop iteration: 3
For loop iteration:  1
For loop iteration:  2

 While loop iteration: 4
For loop iteration:  1
For loop iteration:  2

### Built-In Functions

##### range()

In [2]:
#range(start, stop, step)
#(start at number, stop just before this number, increment of number)

for i in range(1, 20, 3):
    print (i)

1
4
7
10
13
16
19

##### len()

In [3]:
#checking length of a variable, includes spaces

name = input("Give me the name of your favorite book: ")

length = len(name)
print(length)

Give me the name of your favorite book: lord of the rings
17

##### help()

In [5]:
#returns information of what function is placed in ()
help(len)

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

##### isinstance()

In [9]:
#Check a variable to find out what object family (or data type) it belongs to
#instance(variable, type)

num = 4.5
if isinstance(num, int):
    print(f"{num} is an int")
else:
    print(f"{num} is a float")

4.5 is a float

##### abs()

In [10]:
#absolute value
#how far it is from 0
# |-5| = 5

val = 5

print(abs(-5))

5

### Try and Except

In [12]:
#Use this to log out graceful and useful error messages
#Does not stop the program!

try:
    number_test = 0
    input_num = int(input("Guess a number"))
    print('Your number is: ' + str(input_num))
except:
    print("That didnt work! Change your input to a number!")

Guess a numbersd
That dint work! Change your input to a number!

### Lists

##### Declaring Lists

In [54]:
list_1 = []

names = ['Max', 'Cindy', 'Kathy', 'Gary', 'William', 'Nathan']
print(names)

['Max', 'Cindy', 'Kathy', 'Gary', 'William', 'Nathan']

##### Indexing a List

In [55]:
# [start: stop: step]

# Single Index
print(names[0])

# prints single value in location 2, negatives will move back spaces starting at end of list
print(names[2])

# prints from start to stop range
print(names[1:4])

# prints from start to start range, after every 2 locations from the last
print(names[0::2])

# prints from start to end of list, switch strt with stop and reverse logic applies
print(names[0:])

#reverse order
print(names[::-1])

Max
Kathy
['Cindy', 'Kathy', 'Gary']
['Max', 'Kathy', 'William']
['Max', 'Cindy', 'Kathy', 'Gary', 'William', 'Nathan']
['Nathan', 'William', 'Gary', 'Kathy', 'Cindy', 'Max']

##### .append()

In [56]:
# adds at the end of existing variable, list, dictionary

names.append("Barry")
print(names)

['Max', 'Cindy', 'Kathy', 'Gary', 'William', 'Nathan', 'Barry']

##### .insert()

In [57]:
# similar to append but location of addition can be specified
names.insert(3,'Icarus')
print(names)

['Max', 'Cindy', 'Kathy', 'Icarus', 'Gary', 'William', 'Nathan', 'Barry']

##### .pop()

In [58]:
# Defaults to the last value if no parameter is given
# pop returns the element that was removed in case you want to assign it to a variable
# item removed will stay in location specified, will not return to original location unless specified afterwards

my_name = names.pop(3)
print(my_name)
print(names)

Icarus
['Max', 'Cindy', 'Kathy', 'Gary', 'William', 'Nathan', 'Barry']


##### .remove()

In [59]:
# Removes value rather than index

names.remove('Cindy')
print(names)

['Max', 'Kathy', 'Gary', 'William', 'Nathan', 'Barry']

##### del()

In [60]:
# Goes by index, rather than value
# be careful with del,it can cause indexing errors if not used carefully

del(names[1])
print(names)

['Max', 'Gary', 'William', 'Nathan', 'Barry']

##### Concatenating Two Lists

In [62]:
# Will append two lists together, it will not add the values

list_2 = [0, 1, 2]
list_3 = [ 3, 4, 5]

large_list = list_2 + list_3
print(large_list)

[0, 1, 2, 3, 4, 5]

##### Lists Within Lists

In [67]:
# List can hold any type of other elements including other lists
# they can go as deep as you want; this is called a nested list

names = ['Max', 'Sam', 'Josh', ['Sally', ['Sue'], 'Tameka']]
print(names)
print(names[3])
print(names[3][1][0])

['Max', 'Sam', 'Josh', ['Sally', ['Sue'], 'Tameka']]
['Sally', ['Sue'], 'Tameka']
Sue

##### Looping Through Lists

In [76]:
# Two ways to look through a list! One is by index the other is by using the in keyword

# By index
for i in range(len(names)):
    print(names[i])
    
#if print doesnt have names variable it will give a numerical list equal to list amount
# for i in range(len(names)):
#     print(i)
    
# Loop with 'in'
for i in names:
    print(i)

Max
Sam
Josh
['Sally', ['Sue'], 'Tameka']
Max
Sam
Josh
['Sally', ['Sue'], 'Tameka']

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000. Meaning that if the cubed number is over 1000 break the loop.</p>

In [1]:
i = 1
while i <= 10:
  cube = i ** 3
  print(cube)
  if cube > 1000:
    break
  i += 1

1
8
27
64
125
216
343
512
729
1000

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [3]:
# HINT::
# An else after an if runs if the if didn’t
# An else after a for runs if the for didn’t break
   
primes = []
for i in range(2, 101):
  for j in range(2, int(i**0.5) + 1):
    if i % j == 0:
      break
  else:
    primes.append(i)

print(primes)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [11]:
age = int(input('How old are you? '))

if age < 18:
    print('Kid')
elif age >= 18 and age <= 65:
    print('Adult')
else:
    print('Senior')

How old are you? 55
Adult